{% extends 'base.html' %} {% block content %}
<h1>A list of Motorcycle Companies</h1>

<form class = "mb-5" method = "get">
    <div class = "field has-addons">
        <div class = "control">
            <input class = "input" type = "text" name = "name" placeholder="Company, Model, ..." />
        </div>
        <div class = "control">
            <input class = "button is-success" type="submit" value = "Search" />
        </div>
    </div>
    <a class = "button is-dark" href = "{% url 'motorcycle_co_list' %}">Clear Search</a>
</form>

<div class = "gallery">
    {% for motorcycle_company in motorcycle_company %}
    <a href = "">
        <div class = "card">
            <div class = "card-image">
                <figure class = "image is-square">
                    <image src = "{{motorcycle_company.image}}" alt = "{{motorcycle_company.name}}" />
                </figure>
            </div>
            <div class = "card-header">
                <p class = "card-header-title">{{motorcycle_company.name}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
