{% extends 'base.html' %} {% block content %}
<div class = "detail__image">
    <image src ="{{motorcycle_company.image}}" alt = "{{motorcycle_company.name}}" />
</div>

<div class = "detail__name">
    <h1 class = "title">{{motorcycle_company.name}}</h1>
</div>

<div class = "detail__container">
    <div class = "buttons">
        <a href = "{% url 'motorcycle_co_update' motorcycle_company.pk %}" class = "button is-info">
            <span class = "icon">
                <i class = "fas fa-edit"></i>
            </span>
        </a>
        <a href = "{% url 'motorcycle_co_delete' motorcycle_company.pk %}" class = "button is-danger">
            <span class = "icon">
                <i class = "fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class = "detail__about">
        <h4 class = "title is-4">Description</h4>
        <p>{{motorcycle_company.description}}</p>
    </div>
    <div class = "gallery">
        <h4>Models</h4>
        {% for motorcycle_model in company.mc_models.all %}
        <a href = "">
            <div class = "card">
                <div class = "card-image">
                    <figure class = "image is-square">
                        <image src = "{{motorcycle_model.image}}" alt = "{{motorcycle_model.name}}" />
                    </figure>
                </div>
                <div class = "card-header">
                    <p class = "card-header-title">{{motorcycle_model.name}}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}